@{
    ViewBag.Title = "Home Page";
}
@section featured {


   <!-- REVOLUTION SLIDER -->
			<section id="slider" class="fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullscreenbanner" data-navigationStyle="preview4">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="/Content/assets/images/demo/150x99/27-min.jpg">

							<img src="~/Content/assets/images/1x1.png" data-lazyload="../Content/assets/images/demo/1200x800/27-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

							<div class="tp-caption customin ltl tp-resizeme text_white"
								data-x="center"
								data-y="180"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1000"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
							</div>

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1200"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								MADE WITH LOVE
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="350"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
							    <h4 class="weight-600" style="font-family: 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif; ">Nigeria's food culture has been shaped by many influences through the centuries, external and internal.
                                The country, home to countless indigenous tribes through historical ties , reflects vast diversity in food habits.</h4>
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<a href="#purchase" class="btn btn-default btn-lg">
									<span>ORDER NOW!</span> 
								</a>
							</div>

						</li>

						

					</ul>
				</div>
			</section>
			<!-- /REVOLUTION SLIDER -->





    <!-- ABOUT -->
    <section id="about">
        <div class="container">

            <header class="text-center margin-bottom-60">
                <h2>The culture of amala</h2>
                <p class="lead font-lato">We deliver freshly prepared amala with your favourite soup.</p>
                <hr />
            </header>


            <div class="row">

                <div class="col-sm-6">
                    <img class="img-responsive" src="~/Content/assets/images/demo/laptop.png" alt="" />
                </div>

                <div class="col-sm-6">
                    <p class="dropcap">
                        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
						        We deliver freshly prepared amala with your favourite soup.
                                We deliver freshly prepared amala with your favourite soup.
                                We deliver freshly prepared amala with your favourite soup.
                                We deliver freshly prepared amala with your favourite soup. 
                    </p>
                </div>

            </div>


        </div>
    </section>
    <!-- /ABOUT -->


    <!-- PARALLAX -->
    <section class="parallax parallax-2" style="background-image: url('../Content/assets/images/demo/wall3-min.jpg');">
        <div class="overlay dark-6">
            <!-- dark overlay [1 to 9 opacity] -->
        </div>

        <div class="container">

            <div class="text-center">
                <h3 class="nomargin">HOW IT WORKS</h3>
                
            </div>

            <ul class="margin-top-80 social-icons list-unstyled list-inline">
                <li class="col-sm-3">
                    <a target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                        <h4>Search</h4>
                        <span class="weight-300">Find a nearby restaurant that can deliver your order as soon as "Now"</span>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                        <h4>Choose</h4>
                        <span class="weight-300">Browse hundreds of menu to find the food you like.</span>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a target="_blank" href="#">
                        <i class="fa fa-youtube"></i>
                        <h4>Pay</h4>
                        <span class="weight-300">Pay by cash on delivery</span>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                        <h4>Enjoy</h4>
                        <span class="weight-300">Don't forget to wash your hand and pounce on the delicacy.</span>
                    </a>
                </li>

            </ul>

        </div>

    </section>
    <!-- /PARALLAX -->
}
